* {
  box-sizing: border-box
}

html,
body {
  scroll-behavior: smooth;
}

span,
div,
input,
textarea,
button,
select,
a,
pre {
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  width: 100%;
  display: flex;
  color: #fff;
  font-size: 30px;
  min-height: 100vh;
  align-items: center;
  margin: 0 !important;
  background: #1f1f1f;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
}